.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
}

.list {
    display: flex;
    flex-direction: row;

}

 .list li {
    margin-right: 30px;
    text-decoration: none;
    list-style: none;
     padding: 10px;
}
.logo {
    width: 70px;
}
